<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ARTICLE RECOMMENDER SYSTEM</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	</head>
	
	<body>

		<div class="container-fluid p-5 bg-primary text-white text-center">
			<h1>ARTICLE RECOMMENDER SYSTEM</h1>
			<p>Here You can get recommendation of articles !</p> 
		</div>
		<br> <br>
	
		<div class="container-fluid mt-3">
			{% if not predict %}
			<div class="row">
				<div class="col-sm-4 p-3 "></div>
				<div class="col p-3 bg-primary text-white">
					<form action="/" method="post">
						<div class="row">
							<div class="col-sm-6">
								<div class="row p-3">
									<label for="rs_type">Choose a RS Algo :</label>
									<select id="rs_type" name="rs_type">
										<option value="Content-based">Content-based</option>
										<option value="Collaborative based">Collaborative based</option>
									</select> 
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="row  p-3">
									<label for="user_id">Choose an User ID :</label>
									<select id="user_id" name="user_id">
										{% for user_id in data.user_id.unique(): %}
										<option value="{{user_id}}">{{user_id }} </option>
										{% endfor %}
									</select> 
								</div>
							</div>
							
						
							<div class="col-sm-2 pt-3">
								<button type="submit" value="Predict" class="btn btn-dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
										<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
									</svg>
									Recommend
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-3 p-3  text-white"></div>
			</div>
			{% endif %}	
		</div>

		<div class="container-fluid mt-3">
			{% if predict %}
			<div class="row">
				<div class="col-sm-4 p-3  text-white"></div>
				<div class="col p-3">
					<div class="p-3 bg-primary text-white">
						<h3>  <span style="color: rgb(0, 87, 90);"> Recommended Articles for User ID : {{userId}} </span> </h3>
						<div class="col-sm-10">
							{% for art_id in result_pred: %}
								<p name="predicted tweet"> Article N° : {{art_id}} </p> 
							{% endfor %}
						</div>
					</div>	
						
					<br> <br> <br>
					<a href="/">Make another prediction</a>
					
				</div>
				<div class="col-sm-4 p-3  text-white"></div>
			</div>
			{% endif %}
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	</body>

	
</html>
